# Arquivos de ambiente
.env

# Outros arquivos a ignorar
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*dist*/
*.egg-info/

# Ambiente virtual
venv37/

# Dados (brutos e processados)
data/processed/
data/raw/

# Arquivos de inicialização
inicializações.txt
