# Arquivos de ambiente
.env

# Outros arquivos a ignorar
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*dist*/
*.egg-info/


# Dados (brutos e processados)
data/processed/
data/raw/

# Arquivos de inicialização
inicializações.txt

# Ambiente virtual
venv37/

# Arquivos de execução


# Diretório de documentação
docs/
